
.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
}
.Column {
    display: table-cell;
}
.Row .Column:nth-child(1){
    cursor: pointer;
    text-align: left;
    width: 1rem;
}
.Row .Column:nth-child(2){
    text-align: center;
    width: 10%;
    height: 1vm;
}
.Row .Column:nth-child(3){
    text-align: right;
    width: 3vh;
    cursor: pointer;
}
